

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	  width:100%;
	  margin:0 auto;
}

.logo{
	top:10px;
	display:block;
	height:120px;
	width:300px;
	margin-left:310px;
	}
		
#site-header {
	background-color: #FFC;
	height:120px;
	margin-right: 30px;
	position:relative;
	
		}

#site-wrapper {
	background-color: #FFC
	width:960px;
}		

header h1{
	position:absolute;
	font-size:24px;
	top:50px;
	left:50px;
	width:150px
}

header nav{
	position:absolute;
	right:0px;
	
	}
	
#top-nav{
	color: #4f3a11;
	font-family:Arial, Helvetica, sans-serif;  
    font-size:16px;
	position:absolute;
	right:70px;
	width:150px;
	height:20px;
	margin-bottom:20px;
	
}
	
	
#menu-wrapper {
	width: 960px;
	margin:0 auto;
	background-color: #630;
}

#main-menu {
	list-style: none;
	position:relative;
	left:0px;
	height:30px;
	}
	
#main-menu li {  
 	float:left;  
    display:block;  
	margin-left:0px; 
	margin-right:20px;
}
	
#main-menu li a {  
    font-family:Arial, Helvetica, sans-serif;  
    font-size:16px;  
    color: #FFC; 
	text-transform:uppercase;
	line-height: 15px; 
    display:block;
	font-weight:bold;  
    outline:0;  
    text-decoration:none; 
}
#menu li ul {
	display:none;
	position:absolute;
	top:20px; 
}
	
ol, ul {
	float:left;
	display:block;
	position:relative;
	margin-right:10px;
	margin-top:7px;
	list-style-type:none;
	text-align:left;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif; 
	
	
	}
	
.credits {
		 text-decoration:underline;
		 }
a {
		 text-decoration:none;
		 color:#630;
		 }
		 
h1{
	text-align:left;
	font-size:30px;
	font-family: Arial, Helvetica, sans-serif;
	color:#630; 
	margin-top:15px;
	}
	
#headerh1{
	text-align:left;
	font-size:38px;
	font-family: Arial, Helvetica, sans-serif; 
	text-transform:uppercase;
	font-weight:bold;
	margin-top:30px;
	margin-bottom:5px;
	color:#630; 
	
}


#content{
	width:960px;
	margin:0 auto;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif; 
}

h2{
	text-align:left;
	font-size:24px;
	font-family: Arial, Helvetica, sans-serif; 
	color: #630;
	margin-bottom: 5px;
	}
	
p{
	margin-bottom:10px;
	width:600px;
	color:#630; 
}


#page{
	float:left;
	width:60%;
	margin-top:20px;
	}

#sidebar{
	float:right;
	width:20%;
	color:#630; 
	margin-top:60px;
	}
	
.robotpetpix { 
	float:left;  
    display:block;    
    position:relative;  
    margin-left:auto; 
	margin-top:20px; 
	}

#site-footer {
	clear:both;
	position: relative;
	height:150px;
	background-color:#630;
    margin-top:20px;
}

#footer-follow li{
	float:left;
	display:block;
	width:60px;
	}

#footertitle {
	text-align:left;
	font-size:18px;
	font-family: Arial, Helvetica, sans-serif; 
	text-transform:uppercase;
	font-weight:bold;
	color:#FFC;
	width:150px;
	margin-left:310px;
}
#footertitlefollow{
	text-align:left;
	font-size:18px;
	font-family: Arial, Helvetica, sans-serif; 
	text-transform:uppercase;
	font-weight:bold;
	color:#FFC;
	width:150px;
	margin-right:500px;
	
}

#footer-info{
	text-align:left;
	width:150px;
	margin-left:310px;
	color:#FFC;
	}


.rightside{
	float:right;
	width:190px;
	margin-right:300px;
	height:150px;
	margin-bottom: 90px;
	position:relative;
	bottom:125px;
	
	}
	

.logos li{
	float:left;
	}

.logos a{
	display:block;
	width:60px;
	}
	
	



blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;


