/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


body {
	width: 960px;
	margin:0 auto;
	}
	
#content {
	overflow:0 auto;
	height:100%; 
	}	


h1 { 
	color:black;
	font-size: 24px;
	text-align:left;
	font-weight:bold;
	}

#navbar ul{ 
	padding:0px;
	margin:0px;
	text-align:center;
	list-style-type:disc;
	}
#navlist ul li{
	display: inline;
	list-style-type:disc;
	}

#navlist ul li a{
	padding: .2em 1em;
	list-style-type:disc;
	font-family: georgia;
	font-size: small;
	color: black;
	line-height: 30px;
	text-transform:uppercase;
	font-size:24px;
	font-weight:bold;
	}

.credits {
		 text-decoration:underline;
		 }
	 a {
		 text-decoration:none;
		 color:black;
		 }


.article1{
	float:left; 
	margin:0 auto;
	padding: 20px;
	font-family: georgia;
	font-size: small;
	line-height: 30px;
	width:425px;
		}

 .article2 {
	float:right; 
	margin:0 auto;
	padding: 20px;
	font-family: georgia;
	font-size: small;
	line-height: 30px;
	width:425px;
		}
		
.clear{
	clear:left;
}

.websitepics {
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
	padding:0px;
	margin:0 auto;
			}

		
	
img.center {   
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
	 }
	 
	 
#line-separator{
	height:3px;
	background:black;
	border-bottom:1px solid black;
	}
   
.footer{
	width:960px;
	float:right;
	padding:10px;
	}
.footerLeft{
	width:49%;
	float:left;
	display:inline;
	}
.footerRight{
	width:49%;
	float:right;
	display:inline;
	text-align:right;
	}
	